body {
    font-family: 'Plunct', sans-serif;
}


body {
    background-color: black; /* Fond noir */
    font-family: Arial, sans-serif; /* Meilleure police d'écriture */
    color: rgb(255, 255, 255); /* Texte en blanc */
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px; /* Coins extérieurs arrondis */
}

th, td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #333 !important; /* Couleur de fond pour les en-têtes de colonne */
}

tr:nth-child(even) {
    background-color: #222 !important; /* Couleur de fond pour les lignes paires */
}

tr:nth-child(odd) {
    background-color: #111 !important; /* Couleur de fond pour les lignes impaires */
}

img {
    display: block;
    margin: auto; /* Pour centrer l'image dans sa cellule */
    max-width: 100px;
    max-height: 100px;
    border-radius: 0; /* Image non ronde */
}

a {
    color: white;
    text-decoration: none;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: white !important;
    margin-left: 3px;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: white !important;
    padding: 4px;
}